In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import os,sys
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json

from datetime import datetime

json_path = "06032019.json"

with open(json_path, 'r') as f:
    competition_cards = json.load(f)
    
print(len(competition_cards))

records = []
for card in competition_cards:
    title = card[1]
    r = [title]
    
    prize = card[0]
    if '$' in prize:
        prize_type = 'money'
        prize = int(prize.replace('$', '').replace(',', ''))
    else:
        prize_type = prize
        prize = None
        
    r.append(prize)
    r.append(prize_type)
    
    teams = card[2]
    if 'teams' in teams:
        teams = int(teams.replace('teams', '').replace(',', ''))
    else:
        print(teams)
        teams = None
        
    r.append(teams)
    
    spans = card[-1]
    if len(spans) == 2:
        submission_deadline = spans[1]
    elif len(spans) == 0:
        submission_deadline = None
    else:
        submission_deadline = [x for x in spans if x != ''][0]
                
    try:
        # Tue Jun 30 2015 16:59:00
        date_time_obj = datetime.strptime(submission_deadline[:15], '%a %b %d %Y')
    except Exception as e:
        print(e, card)
        
        date_time_obj = None
    
    r.append(date_time_obj)
    
    records.append(r)
    
df = pd.DataFrame(records, columns=['title', 'prize', 'prize_type', 'teams', 'submission_close'])

df.head()

339



time data 'Ongoing' does not match format '%a %b %d %Y' ['Knowledge', 'Predict sales prices and practice feature engineering, RFs, and gradient boosting', '4,644 teams', ['', 'Ongoing', '', '', '', '', '', '']]





time data 'Ongoing' does not match format '%a %b %d %Y' ['Knowledge', 'Start here! Predict survival on the Titanic and get familiar with ML basics', '11,050 teams', ['', 'Ongoing', '', '', '', '', '', '', '']]
time data 'Ongoing' does not match format '%a %b %d %Y' ['Knowledge', 'Learn computer vision fundamentals with the famous MNIST data', '3,078 teams', ['', 'Ongoing', '', '', '', '', '', '', '', '']]

,title,prize,prize_type,teams,submission_close
0,Detect objects in varied and complex images,25000.0,money,21.0,2019-10-01
1,Detect pairs of objects in particular relation...,25000.0,money,16.0,2019-10-01
2,Can you measure the magnetic interactions betw...,30000.0,money,444.0,2019-08-28
3,A synchronous Kernels-only competition,5000.0,money,1075.0,2019-06-20
4,Can you determine if two individuals are related?,NaN,Knowledge,235.0,2019-08-01

In [2]:
print(len(df))
print(len(df.dropna()))

print(df['prize_type'].value_counts())

339
236
money        244
Knowledge     48
Swag          18
Jobs          14
Kudos         12
USD            2
â‚¬5,000       1
Name: prize_type, dtype: int64

In [3]:
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

nona_df = df.dropna()
nona_df = nona_df.sort_values(by='submission_close')

data = [go.Scatter(x=nona_df['submission_close'], y=nona_df['teams'], mode='markers', name='markers', text=nona_df['title'])]

plot(data)

'file://D:\\projects\\kaggle_competitions_stats\\temp-plot.html'

In [4]:
data = [go.Scatter(
    x=nona_df['submission_close'], y=nona_df['prize'], mode='markers', name='markers',
    text=nona_df['title'])]

plot(data)

'file://D:\\projects\\kaggle_competitions_stats\\temp-plot.html'